<main xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:c="http://java.sun.com/xml/ns/javaee"
      xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container body-content">
        <div class="col-md-8">
            <div class="row">
                <h1>Categories Article Images</h1>
                <div class="col-md-4" th:each="category : ${categories}">
                    <header>
                        <h2>
                            <a th:href="@{/category/{id}(id=${category.id})}" th:text="${category.name
                                +' (' + #sets.size(category.articles) + ')'}" style="color: #eac67a">
                            </a>
                        </h2>
                    </header>
                </div>
            </div>
            <div class="row">
                <h1>Categories Link Images</h1>
                <div class="col-md-4" th:each="category : ${linkCategories}">
                    <header>
                        <h2>
                            <a th:href="@{/linkCategory/{id}(id=${category.id})}" th:text="${category.name
                                +' (' + #sets.size(category.links) + ')'}" style="color: #eac67a">
                            </a>
                        </h2>
                    </header>
                </div>
            </div>

            <div class="row">
                <h1>Categories Album Images</h1>
                <div class="col-md-4" th:each="category : ${albumCategories}">
                    <header>
                        <h2>
                            <a th:href="@{/albumCategory/{id}(id=${category.id})}" th:text="${category.name
                                +' (' + #sets.size(category.albums) + ')'}" style="color: #eac67a">
                            </a>
                        </h2>
                    </header>
                </div>
            </div>

        </div>
        <ul class="col-md-offset-1 col-md-3">
            <p>Latest 5 registered users:</p>
            <li th:each="user : ${latestFiveUsers}">
            <a th:href="@{/profileInfo/{id}(id=${user.id})}" th:text="${user.fullName}" style="color: #eac67a"></a>
            </li>
        </ul>

    </div>
</main>