<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/link/edit/{id}(id=${link.id})}" method="POST">
                <fieldset>
                    <legend>Edit Link</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">Title</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="6" id="article_title" name="title" th:field="${link.title}"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="link_link">Link</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="6" id="link_link" name="link" th:field="${link.link}"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="link_category">Category</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="link_category" name="categoryId">
                                <option th:each="category : ${linkCategories}" th:value="${category.id}" th:text="${category.name}"  th:selected="${category.id == link.linkCategory.id}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="link_tags">Tags</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="link_tags" placeholder="Tags" name="tagString" th:value="${linkTags}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/link/{id}(id = ${link.id})}">Cancel</a>
                            <input type="submit" class="btn btn-success" value="Edit"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>