<main>
    <div class="well">
        <form class="form-horizontal" th:action="@{/album/createAlbum}" method="POST" enctype="multipart/form-data">
            <fieldset>
                <legend>Create Album</legend>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="album_name">Album name</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="album_name" placeholder="Album Name"
                               name="name" required="true"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="album_category">Album Category</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="album_category" name="categoryId">
                            <option th:each="category : ${linkCategories}" th:value="${category.id}" th:text="${category.name}" required="true"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="link_tags">Tags</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="link_tags" placeholder="Tags" name="tagString"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="image">*Album Profile Picture</label>
                    <div class="col-sm-4 ">
                        <input type="file" name="pictures" id="image" accept="image/*" required="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="image1">Image</label>
                    <div class="col-sm-4 ">
                        <input type="file" name="pictures" accept="image/*" id="image1"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="image2">Image</label>
                    <div class="col-sm-4 ">
                        <input type="file" name="pictures" accept="image/*" id="image2"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="image3">Image</label>
                    <div class="col-sm-4 ">
                        <input type="file" name="pictures" accept="image/*" id="image3"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="image4">Image</label>
                    <div class="col-sm-4 ">
                        <input type="file" name="pictures" accept="image/*" id="image4"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a class="btn btn-default" th:href="@{/}">Cancel</a>
                        <input type="submit" class="btn btn-primary" value="Submit"/>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</main>