<main>
    <div class="container body-content">
        <div class="row">
            <header>
                <h2 th:text="${album.name}"></h2>
            </header>
            <th:block th:each="image : ${album.getImageAlbums()}">
                <div class="col-md-4">
                    <aritcle>
                        <a th:href="@{/imageDetails/{id}(id=${image.id})}">
                            <img th:src="${image.path}" class="img-thumbnail"/>
                        </a>
                    </aritcle>
                    <div style="margin-top: 30px" class="pull-right">
                        <th:block sec:authorize="isAuthenticated()" th:if="${user.isAdmin() OR user.isAuthor(album)}">
                            <a class="btn btn-success btn-xs" th:href="@{/album/editPicture/{id}(id=${image.id})}">Edit
                                Picture</a>
                            <a class="btn btn-danger btn-xs" th:href="@{/album/deletePicture/{id}(id = ${image.id})}">Delete
                                Picture</a>
                        </th:block>
                    </div>
                </div>
            </th:block>
        </div>
        <footer>
            <div style="margin-top: 30px" class="pull-right">
                <th:block sec:authorize="isAuthenticated()" th:if="${user.isAdmin() OR user.isAuthor(album)}">
                    <a class="btn btn-success btn-xs" th:href="@{/album/addPicture/{id}(id = ${album.id})}">Add
                        Picture</a>
                    <a class="btn btn-success btn-xs" th:href="@{/album/editName/{id}(id = ${album.id})}">Edit Album</a>
                    <a class="btn btn-danger btn-xs" th:href="@{/album/delete/{id}(id = ${album.id})}">Delete Album</a>
                </th:block>
                <a class="btn btn-default btn-xs" th:href="@{/album/viewAlbums}">back &raquo;</a>
            </div>
        </footer>
    </div>
</main>