<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <img th:src="${image.path}" class="img-thumbnail"/>
                </article>
                <footer style="margin-top: 30px">
                    <div class="pull-right">
                        <th:block sec:authorize="isAuthenticated()" th:if="${user.isAdmin() OR user.isAuthor(album)}">
                            <a class="btn btn-success btn-xs" th:href="@{/admin/albums/editPicture/{id}(id=${image.id})}">Edit Picture</a>
                            <a class="btn btn-danger btn-xs" th:href="@{/admin/albums/deletePicture/{id}(id = ${image.id})}">Delete Picture</a>
                            <a class="btn btn-default btn-xs" th:href="@{/admin/albums/}">back &raquo;</a>
                        </th:block>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</main>