<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/admin/albums/editPicture/{id}(id=${image.id})}" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <legend>Edit Picture</legend>

                    <th:block>
                        <div class="col-md-4">
                            <aritcle>
                                <img th:src="${image.path}" width="200" height="100"/>
                            </aritcle>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="image">Choose a Picture</label>
                            <div class="col-sm-4 ">
                                <input type="file" name="pictures" accept="image/*" id="image"/>
                            </div>
                        </div>
                    </th:block>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/admin/albums/details/{id}(id = ${image.id})}">Cancel</a>
                            <input type="submit" class="btn btn-success" value="Edit"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>